*{
 box-sizing: border box;
 margin: 0;
 padding: 0;
 text-decoration: none;
 } 
 /*body*/
 body{
   padding: 0px;
   margin: 0px;
   height: 620px;
   padding: 0px 0px;
   }
   .content{
    background-image: url(./imagenes/portada\ 1.jpg);
   }
   /*navegacion*/
   .nav{
    height:50px;
    width: 44%;
    margin-left: 40px;
     }
    .titulo{
      background-color: rgba(110, 100, 11, 0.541);
        padding: 3px 10px;
        text-align: left;
        font-size:  22px;
        color: white;
        float: left;
        }
      /*section*/
    div.section{
      width: 100%;
      height: 490px;
      margin-top: 30px;
    }
   .mi-logo1{
    margin-top: 10px;
    margin-left: 70px;
    width: 250px;
    height: 290px;
    float: left;
  }
   .videos1{ 
    margin-top: 80px;
    margin-left: 140px;
    }
   .videos1:hover{
     border-bottom: solid 2px white;
     }
   .grupo{
    margin-left: 140px;
     }
   .grupo:hover{
    border-bottom: solid 2px white;
      }
   .twits{
     margin-top:30px;
     margin-left: 150px;
    }
     .twits:hover{
       border-bottom: solid 2px white;
    }
    /*enlaces*/
    div .enlaces{
      margin-top: 5px;
      width: 100%;
      height: 60px;
      display: flex;
    }
    div .enlaces a img{
      width: 40px;
      height: 40px;
      float: left;
    }
    .e-guevara{
      margin-left: 625px;
    }
    .e-guevara:hover{
      border-top: solid 2px white;
    }
    .e-fernandez{
      margin-left: 236px;
    }
    .e-fernandez:hover{
      border-top: solid 2px white;
    }
     .g-esteves{
      padding-top: 3px;
      margin-left: 328px;
    }
    .g-esteves:hover{
      border-bottom: solid 2px white;
    }
   /*footer*/
     .footer{
      margin-top: 5px;
      margin-left: 0px;
      margin-bottom: 10px;
      padding-top: 3px;
      width: 100%px;
      height: 40px;
    }
   .coment{
    background-color: rgba(21, 21, 167, 0.527);
    font-size: 25px;
    color: white;
    padding: 2px 7px;
    margin-left: 70px;
    }
    .copy{
      margin-bottom: 2px;
      margin-left: 710px;
      font-size: 20px;
      background-color: rgba(120, 161, 236, 0.349) ;
      color: black;
      text-align: left;
    }
 



 
  
   

     
       
     
     
      
      
 

 
  

   
     

  
    
    






  


 



