*{
 box-sizing: border box;
 margin: 0;
 padding: 0;
 text-decoration: none;
 } 
 /*body*/
 body{
  box-sizing: border box;
   margin: 0px;
   padding: 0px 0px;
   background-image: url(./imagenes/portada\ 1bis.png);
   
   }
   .flex-container{
     box-sizing: border box;
     margin: 0;
     padding: 0;
     width: 100%;
     height: 610px;
     display: flex;
     justify-content: space-between;
     flex-direction: column;
  
    }
   /*navegacion*/
   .nav{
    height: 60px;
    width: 44%;
    margin-left: 40px;
    margin-bottom: 0px;
  }
    .titulo{
      background-color: rgba(110, 100, 11, 0.616);
        padding: 3px 3px;
        text-align: center;
        font-size:  22px;
        color: white;
        }
      /*section*/
    div.section{
      box-sizing: border box;
      margin: 0px;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: 430px;
      padding-left: 50px;
    }
    .logos{
     display: flex;
     flex-wrap: wrap;
     }
   .mi-logo1{
    margin-top: 10px;
    margin-left: 50px;
    width: 280px;
    height: 310px;
  }
   .videos1{ 
    margin-top: 50px;
    margin-left: 180px;
  }
   .videos1:hover{
     border-bottom: solid 2px white;
     }
   .grupo{
    margin-left: 140px;
    margin-top: 50px;
     }
   .grupo:hover{
    border-bottom: solid 2px white;
      }
   .twits{
     margin-top:50px;
     margin-left: 140px;
     }
     .twits:hover{
       border-bottom: solid 2px white;
    }
    /*footer*/
     .footer{
      display: flex;
      flex-wrap: wrap;
      padding-top: 5px;
      width: 100%px;
      height: 40px;
      }
   .coment{
    background-color: rgba(21, 21, 167, 0.527);
    font-size: 25px;
    color: white;
    padding: 2px 7px;
     margin-left: 60px;
    }
    .copy{
      margin-left: 710px;
      font-size: 20px;
      background-color: rgba(104, 141, 209, 0.513) ;
      color: black;
      text-align: left;
    }
   @media (max-width:410px) {body{display: flex;} .flex-container{height: 620px;} .nav{ width:340px;height: 30px;margin-left: 2px;} .titulo{text-align: left;font-size: 12px;padding: 0px;margin: 0px;} div .section{margin-top: -90px;margin-left:-40px;padding-left: 12px;padding-bottom: -30px; height: 220px,} .logos{flex-wrap: wrap;padding-bottom: 0px;} .mi-logo1{ width: 120px;height: 135px;margin-left: 45px; margin-bottom: 0px} .videos1{margin-left: 10px; margin-top: 20px;margin-bottom: 0px; width: 85px; height: 105px} .grupo{width:85px; height:105px; margin-left: 55px;margin-top: -40px;} .twits{width: 85px;height: 105px;margin-left: 30px;margin-top: -40px} .footer{height: 60px} .coment{font-size: 16px;margin-bottom: 1px}  .copy{align-items: center;margin-top: 1px; font-size:12px;margin-top: 0px}
   }


 
  
   

     
       
     
     
      
      
 

 
  

   
     

  
    
    






  


 



